MASTERBASE_SMTP_HOST=
MASTERBASE_SMTP_PORT=587
MASTERBASE_SMTP_USERNAME=
MASTERBASE_SMTP_PASSWORD=
MASTERBASE_FROM_EMAIL=
MASTERBASE_INTERNAL_RECIPIENTS=
CONTACT_ALLOWED_ORIGINS=https://www.crystal.com.co,https://crystal.com.co
CONTACT_MAX_REQUESTS_PER_HOUR=8
TURNSTILE_SECRET_KEY=
PUBLIC_TURNSTILE_SITE_KEY=
ASSET_BASE_URL=https://www.crystal.com.co/static/store
APP_TRUSTED_HOSTS=localhost,127.0.0.1,www.crystal.com.co,crystal.com.co
PORT=8000
